/*-- scss:defaults --*/
// Base document colors
$body-bg: #ffffff;
$body-color: rgb(0, 0, 0);
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.4;

// colors
$primary: #cccccc;

// padding
$content-padding-top : 30px;